body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#bodyJl{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
}
#Popup_jl{
    height: 180px;
    width: 220px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Prompt_jl_1{
    color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Prompt_jl_2{
    color: gainsboro;
}
#Prompt_jl_button{
    color: orange;
}
#img{
    margin-top: 20px;
}
#Prompt_jl_button{
    color:orangered;
    height:30px;
    width: 100%;
    padding-top: 5px;
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000000;
    cursor: pointer;
}